<table class="user-table">
    <caption class="pdf-table__caption">Ваучер<sup>*</sup></caption>
    <tr>
        <td>
            <table>
                <tr>
                    <td>Дата заказа:</td>
                    <td>{{ date }}</td>
                <tr>
                <tr>
                    <td>Подтверждение (заказ):</td>
                    <td>{{ number }}</td>
                <tr>
                <tr>
                    <td>ФИО брони:</td>
                    <td>{{ fullName }}</td>
                <tr>
                <tr>
                    <td>Контактный телефон:</td>
                    <td>{{ phone }}</td>
                <tr>
                <tr>
                    <td>E-mail:</td>
                    <td>{{ email }}</td>
                <tr>
                <tr>
                    <td colspan="2" style="color: red;">
                        <sup>*</sup>Данный ваучер является подтверждением оплаты услуг
                    </td>
                </tr>
            </table>
        </td>
        <td>
            {% if qrCodeImg %}
                <img src="data:image/svg+xml;utf8,{{ qrCodeImg }}" alt="qrcode">
            {% endif %}
        </td>
    </tr>
</table>
