<p>Получите ваш ски-пасс в терминалах (автоматах), находящихся возле нижних станций подъемников «Олимпия» и «Стрела», на Площади Мзымта.</p>
<p>
    1. Выведите код в верхнем правом углу ваучера на экран телефона.<br>
    2. Поднесите код к ридеру автомата по продаже ски-пассов.<br>
    3. Не забудьте забрать все ски-пассы, которые выдаст автомат.
</p>
<p>Вы также можете получить ваши ски-пассы или приобрести дополнительные ски-пассы в кассах курорта или на стойке размещения вашего отеля на курорте Роза Хутор.</p>