<p>Получите входные билеты в Музее, на кассах канатных дорог, на стойке ресепшен отеля  или терминалах (автоматах),находящихся в Роза Долине на Площади Мзымта.</p>
<p>
    Чтобы получить билет в терминале, используйте код, расположенный в верхнем правом углу ваучера. Для этого распечатайте ваучер. Поднесите код к ридеру автомата по продаже билетов. Не забудьте забрать все входные билеты,которые выдаст автомат.<br>
    Входным билетом в Музей Археологии Вы можете воспользоваться в течение 7 дней от даты, на которую был забронирован билет, согласно режиму работы Музея Археологии
</p>
<p>Отказ с возвратом платы за услугу допускается не позднее последней даты действия билета. В иных случаях возвратплаты не производится.</p>