<table class="pdf-table">
    <thead>
        <tr>
            <th>Тип билета</th>
            <th>Количество</th>
            <th>Дата начала</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            {{ name }}
        </td>
        <td>
            <p class="center">
                {{ quantity }}
            </p>
        </td>
        <td>
            {{ date }}
        </td>
    </tr>
    </tbody>
</table>

{% if isSkiPass %}
    {% include 'voucher/_item_skipass.twig' %}
{% endif %}

{% if isRodelban %}
    {% include 'voucher/_item_rodelban.twig' %}
{% endif %}

{% if isMuseum %}
    {% include 'voucher/_item_museum.twig' %}
{% endif %}