<p><strong>Билет не включает доступ на канатные дороги курорта Роза Хутор.</strong></p>
<p>Аттракцион находится в Горной Олимпийской деревне (1100 м), за зданием «Роза Приют» (ресторан «Берлога»).Добраться до Горной Олимпийской деревни можно на канатной дороге Олимпия или на автомобиле.</p>
<p><strong>-> Получите ваши билеты в кассе аттракциона при предъявлении этого ваучера. Распечатывать ваучер ненужно. </strong></p>
<p>Распечатать электронные билеты можно в инфоцентре или на стойке ресепшен вашего отеля.</p>
<p>
    На родельбан допускаются дети от 5 лет.<br>
    Дети младше 18 лет должны ехать в одних санях со взрослым.<br>
    Максимальное количество пассажиров на одних санях – 2 человека, максимальный вес обоих пассажиров на одних санях – не более 150 килограммов.
</p>
<p>Билет действителен в течение 7 дней с даты, указанной при оформлении.</p>
<p>При неблагоприятных погодных условиях услуга не предоставляется.</p>
<p>Отказ с возвратом стоимости билета возможен не позднее последнего дня пользования услугой. В иных случаях возврат оплаты не производится.</p>