<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link href="{{ rootPath|raw }}/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="pdf pdf__footer">
        <p>
            Присоединяйтесь к нам в Facebook и Vkontakte!<br>
            Все новости, мероприятия, конкурсы, советы экспертов и многое другое вы найдете<br>
            здесь: <a href="https://www.facebook.com/kurortrosakhutor">https://www.facebook.com/kurortrosakhutor</a> и здесь: <a href="http://vk.com/rosakhutor">http://vk.com/rosakhutor</a>
        </p>
        <p>
            8(8622) 437 437 / <a href="mailto:onlinesales@rosaski.com">onlinesales@rosaski.com</a> / <a href="www.rosaski.com">www.rosaski.com</a><br>
            354392 Россия, Краснодарский край, г.Сочи, пос.Эсто-Садок, ул.Олимпийская 35, ГЛК Роза Хутор
        </p>
    </div>
</body>
</html>