<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link href="{{ rootPath|raw }}/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="pdf pdf__header">
        <img class="pdf__logo" src="{{ rootPath|raw }}/logo.png" width="350" alt="">
    </div>
</body>
</html>