html {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  min-width: 320px;
  color: #000;
  font-family: "Calibri", Verdana, sans-serif;
  font-size: 1em;
  line-height: 1.4;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

table {
  border-collapse: collapse;
  width: 100%; }

.center {
  text-align: center; }

.pdf {
  width: 210mm;
  height: 215mm;
  margin: 0 auto;
  font-size: 12pt;
  padding: 0 17mm; }

.pdf a {
  color: blue;
  text-decoration: underline; }

.pdf__header {
  display: block;
  height: auto;
  text-align: center; }

.pdf__footer {
  display: block;
  height: auto;
  text-align: center;
  font-size: 9pt; }

.pdf__footer p {
  margin-bottom: 3mm; }

.pdf__info-common {
  padding-top: 20px; }

.pdf__barcode {
  margin: 10px auto;
  text-align: center; }

.pdf__qrcode-block {
  width: 100%; }

.pdf__qrcode {
  display: inline-block; }

.pdf__logo {
  display: block;
  margin: 0 auto; }

.pdf__banner {
  width: 100%;
  margin-top: 2mm; }

.pdf__h2 {
  font-size: 16pt;
  font-weight: 600;
  margin: 5mm 0 0;
  margin-bottom: 10px; }

.pdf__main {
  padding: 20px 30px 0; }

.pdf__table-desc {
  margin: 2mm 0 5mm;
  line-height: 1.23; }

.pdf__text-bold {
  font-weight: 600;
  line-height: 1.28;
  margin: 2mm 0; }

.pdf-table {
  border: 1px solid black !important;
  margin-bottom: 10px; }

.voucher-text {
  margin-bottom: 20px; }

.pdf-table th {
  background: #add8e6 !important; }

.pdf-table td, .pdf-table th {
  border: 1px solid black !important;
  padding: 0 2mm !important; }

.pdf-table__cell-middle {
  text-align: center; }

.pdf-table__caption {
  font-size: 18pt;
  font-weight: 600; }

.pdf-table__caption sup {
  color: red;
  font-size: 16pt; }

.pdf__line-next {
  position: relative;
  color: #9a9a9a; }

.pdf__line-next-line {
  border-bottom: 1px solid #9a9a9a;
  margin: 35px 0; }

.pdf__line-next-text {
  left: 40%;
  position: absolute;
  top: -10px;
  padding: 0 10px;
  display: inline-table;
  background-color: #ffffff; }

.pdf__product-barcode {
  text-align: center;
}