<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link href="{{ rootPath|raw }}/style.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="pdf__main">
    {% include 'voucher/_info.twig' with info %}

    <p class="pdf__h2">Услуги курорта</p>

    {% for item in items %}
        {% include 'voucher/_item.twig' with item %}
    {% endfor %}

    {% if info.barcode %}
        <div class="pdf__product-barcode">
            <img src="data:image/png;base64,{{ info.barcodeImg }}" alt="barcode"><br>
            {{ info.barcode }}
        </div>
    {% endif %}
</div>

</body>
</html>