<h3>
    Информационное сообщение сайта Роза Хутор
</h3>
------------------------------------------
<br><br>
Спасибо за регистрацию {{ name }}
<br><br>
Ссылка для подтверждения e-mail: <a href="{{ url }}">{{ url }}</a>
<br><br>
Ваш e-mail: {{ email }}<br>
Ваш пароль:
<code style="font-weight: bold" size="4">
    {{ password }}
</code><br><br>
Сообщение сгенерировано автоматически.
