<p>Здравствуйте,
    <br>
    Вы заполнили форму по восстановлению пароля на данный почтовый адрес.
    <br>
    Перейдите по ссылке, чтобы создать новый пароль для вашей учетной записи:<br>
    <br>
    <a href="{{ url }}">{{ url }}</a>
    <br><br>
    Сообщение сгенерировано автоматически.
    <br><br>
    С уважением,<br>
    Команда Роза Хутор<br>
    onlinesales@rosaski.com
</p>