<p>Для подтверждения e-mail вам необходимо перейти по ссылке:<br>
<a href="https://dev.rosakhutor.zbrsk.ru/profile/settings/?verify={{ code }}">https://dev.rosakhutor.zbrsk.ru/profile/settings/?verify={{ code }}</a>
</p>

<p>Ваш e-mail:<br>
    {{ email }}
</p>