<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Logs</title>
</head>
<body>
{% for log in logs %}
    <ul>
        <li><b>Date :</b> {{ log.date | raw }}</li>
        <li><b>Message :</b> {{ log.message | raw }}</li>
    </ul>
    <hr>
{% endfor %}
</body>
</html>