<p>Уважаемый (-ая) {{ userLastName }} {{ userFirstName }} ! </p>

Ваш заказ № {{ orderId }} от <strong>{{ orderCreateDate }}</strong> на сайте Роза Хутор <strong>оплачен!</strong><br><br>

<div class="order-items">
    <div class="order-items__title"><strong>Состав заказа:</strong></div>
    {% if orderItemsProducts %}
    <i>Продукты</i>
    <div class="order-items__listing">
        {% for item in orderItemsProducts %}
            <li class="ml-auto">{{ item.name }}. Цена - {{ item.price }} {{ orderCurrency }} ({{ item.count }} шт.)</li>
        {% endfor %}
    </div>
    {% endif %}
    {% if orderItemsRooms %}
    <i>Комнаты</i>
    <div class="order-items__listing">
        {% for item in orderItemsRooms %}
            <li>{{ item.name }}. Тип спального места: {{ item.bedType }}. Цена - {{ item.price }} {{ orderCurrency }} ({{ item.count }} шт.)</li>
        {% endfor %}
    </div>
    {% endif %}
    {% if orderItemsBundles %}
    <i>Пакеты</i>
    <div class="order-items__listing">
        {% for item in orderItemsBundles %}
            <li>{{ item.name }}. Цена - {{ item.price }} {{ orderCurrency }} ({{ item.count }} шт.)</li>
        {% endfor %}
    </div>
    {% endif %}
    <br>
    <div class="order-items__amount">Cтоимость заказа: <strong>{{ orderTotalSum }} {{ orderCurrency }}</strong></div>
</div>
<br>
{{ url }}
<br><br>
С уважением, <br>
менеджер <br>
Иванов Иван Иванович <br>
тел./факс 8 (800) 111-11-11


